body {
    margin: 0;
    background: rgb(5, 4, 2);
    color: antiquewhite;
    font-family: Righteous;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.tabulka {
    text-align: left;
}

h1 {
    font-family: Righteous;
    font-size: 80px;
    text-align: center;
    margin: 0;
    position: relative;
    top: 45px;
    padding-top: 105px;
}

.hlavicka {
    background-image: url("../images/camel2.jpg");
    padding: 80px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.text {
    margin: 0px;
    padding: 10px;
    font-family: Righteous;
    font-weight: lighter;
}

table {
    border-spacing: 0;
    margin: auto;

}

td {
    padding: 10px 20px;
    border-bottom: solid 1px antiquewhite;
}

#last {
    padding: 0;
    border-bottom: rgba(9, 1, 0, 0.98);
}
img {
    float: left;
    margin: 0px;

}

.obrazek {
    padding-left: 600px;
}
