<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!--<link rel="icon" href="../static/images/favicon.png"-->
          <!--th:href="${'images/favicon.png'}"/>-->
    <title>Výchozí webová stránka | Java 2</title>
</head>
<body>
    <header class="hlavicka">
        <h1>VELBLOUDÍ KALKULAČKA</h1>
    </header>

    <div class="vysledek">
    <p>Tvůj partner stojí </p>
    <p id="result" class="bold"> <span th:text="${velbloudi}"> 50 </span> velbloudů. </p>

    <p id="statement" class="bold"><span th:text="${statement}"> vyjadreni </span></p>
    </div>


  
</body>
</html>
